/* style.css */
body {
    font-family: Trebuchet MS, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0FFF0;
}

header {
    background-color: #8FBC8F;
    color: white;
    padding: 1rem;
    text-align: center;
}

header nav {
    margin-top: 10px;
}

header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

input {
        border: 1px solid #8FBC8F;
        border-radius: 15px;         
        font-size: 16px;
        background-color: #E8F5E9;
        color: #2F4F4F;
        margin-top: 10px;
        width: 100%;
        max-width: 400px;
        box-sizing: border-box;
        padding: 15px;
}

button {
    padding: 15px;
    font-size: 16px;
    border-radius: 15px;
    background-color: #FFE4E1;
    color: #000000;
    border: none;
    cursor: pointer;
}
